.endScreenStyle  {
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;

}

.innerBlockStyle { margin: auto; font-weight: bold; display: flex; flex-direction: column; padding: 20px; }

.titleStyle { font-size: 100pt; flex-grow: 1; color: red }

.btnStyle { font-size: 32pt; border-top: 2px solid white; color: white; text-decoration: none; }

.exitBtn { margin-top: 20px; }

.opacity0 {
    position: absolute;
    top: 0;
    left: 0;
    animation: eye 1s ease-in-out forwards;
}

@keyframes eye {
    0% { opacity: 0; }
    100% { opacity: 1; }
}